<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row">
    <div class="col-75">
        <div class="container">
            <form action="/action_page.php">



                <div class="col-50">
                    <h3>Payment</h3>
                    <label >Accepted Cards</label>

                    <label for="cname">User Name</label>
                    <input type="text" id="uname" name="username" placeholder="enter user name">
                    <label for="cname">Name on Card</label>
                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                    <label for="ccnum">Credit card number</label>
                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="expmonth">Exp Month</label>
                    <input type="text" id="expmonth" name="expmonth" placeholder="September">
                    <div class="row">
                        <div class="col-50">
                            <label for="expyear">Exp Year</label>
                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                        </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                    </div>
                </div>



                <input type="submit" value="Continue to checkout" class="btn">
            </form>
        </div>
    </div>

</div>
<!--<div class="row cart-body">-->
    <!--<form class="form-horizontal" method="post" action="">-->
        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">-->
            <!--&lt;!&ndash;REVIEW ORDER&ndash;&gt;-->
<!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">-->
        <!--Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--<div class="form-group">-->
            <!--<div class="col-sm-3 col-xs-3">-->
                <!--<img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg" />-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-xs-6">-->
                <!--<div class="col-xs-12">Product name</div>-->
                <!--<div class="col-xs-12"><small>Quantity:<span>1</span></small></div>-->
            <!--</div>-->
            <!--<div class="col-sm-3 col-xs-3 text-right">-->
                <!--<h6><span>$</span>25.00</h6>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group"><hr /></div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-sm-3 col-xs-3">-->
                <!--<img class="img-responsive" src="//c1.staticflickr.com/1/466/19681864394_c332ae87df_t.jpg" />-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-xs-6">-->
                <!--<div class="col-xs-12">Product name</div>-->
                <!--<div class="col-xs-12"><small>Quantity:<span>1</span></small></div>-->
            <!--</div>-->
            <!--<div class="col-sm-3 col-xs-3 text-right">-->
                <!--<h6><span>$</span>25.00</h6>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group"><hr /></div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-xs-12">-->
                <!--<strong>Subtotal</strong>-->
                <!--<div class="pull-right"><span>$</span><span>200.00</span></div>-->
            <!--</div>-->
            <!--<div class="col-xs-12">-->
                <!--<small>Shipping</small>-->
                <!--<div class="pull-right"><span>-</span></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group"><hr /></div>-->
        <!--<div class="form-group">-->
            <!--<div class="col-xs-12">-->
                <!--<strong>Order Total</strong>-->
                <!--<div class="pull-right"><span>$</span><span>150.00</span></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;REVIEW ORDER END&ndash;&gt;-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
</body>
</html>